.file-system-interaction-panel {
    width: 100%;

    div{
        height: 30px;
        width: 100%;
        text-align: center;
        line-height: 30px;
        border-radius: 4px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.42);

        &:hover{
            background-color: rgba(255, 255, 255, 0.4);
            cursor: pointer;
        }
        &:active{
            background-color: rgba(255, 255, 255, 0.3);
            cursor: pointer;
        }
        &:last-child{
            border: none;
        }
    }
}